html
  head
    title ResearchNet
    block scripts
    block style
  body
    nav#navbar
        ul
          div#logo
            |Research
            div.logo_in  Net
          li #[a(href='/home')  Home] 
          .b
          li #[a(href='/reinfo') Research Info ]
          .b
          li #[a(href='/') Log Out]
          //li #[a(href='/registration') Registration ]
          .b
          li #[a(href='/contact2') Contact Us ]
          .b
          div#profile
            li #[a(href='/profile') Profile]
    block content
    footer#footer 
        |CopyRight © 2022 RNet 
        h3 All rights reserved