doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title ResearhNet
  link(rel='styleSheet' href='mainRegStyle.css')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
section.header
  nav.navP
    a(href='home.html')
      img(src='images/logo.png')
    .nav-links
      ul
        li
          a(href='/teacherHome') HOME
        li
          a(href='/profileTeacher') PROFILE
        li
          a(href='/treinfo') RESEARCH INFO
        li
          a(href='/createProject') CREATE PROJECT
        li
          a(href='QAT') Q&amp;A
        li
          a(href='/') LOG OUT
    div
      ul
        li
          a(href='/contact3') CONTACT US
  block content 
  div.container
    h3 Give Your Information
    form(action="/contact2", method='post', class="myform")
      input(type="text", class="myInput", name="name", placeHolder="Enter your userId")
      textarea(type="text", class="myInput" name="consern" cols="30" rows="10" placeholder="Consern")
        
      button(class="btn")
        |Submit
      div.c2
        |#{result}

section.footer
  h4 About Us
  p
    | This website was created to serve all the research enthusiastics around the world.
    br
    | We hope together we can make the world a better place.
  .icons
    i.fa.fa-facebook
    i.fa.fa-twitter
    i.fa.fa-instagram
    i.fa.fa-linkedin


