extends before.pug

block style     
    style
      include ../static/style.css
      include ../static/first.css
block content 
    div.container
        section#m
            h2 Different Sections...
            div.o
                div.c
                    h3 ReSearch the way you like
                    div.cb
                        .content 
                        p Come & See
                div.c
                    h3 Expertise
                    div.cb
                        .content 
                        p Come & See
                div.c
                    h3 Perfection 
                    div.cb
                        .content 
                        p Come & See
