doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title ResearhNet
  link(rel='styleSheet' href='homeStyle.css')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
section.header
  nav.navP
    a(href='home.html')
      img(src='images/logo.png')
    .nav-links
      ul
        li
          a(href='/') HOME
        li
          a(href='/about') ABOUT
        li
          a(href='/reinfo') RESEARCH INFO
        li
          a(href='') REGISTRATION
          div#dropdown 
            ul
              li 
                a(href='/registration') Student
              li 
                a(href='/regTeacher') Teacher
        li
          a(href='/login') LOG IN
    div
      ul
        li
          a(href='/contact1') CONTACT US
  .homeText
    h1 World&apos;s Biggest Research Website
    p
      | Our goal is to make research available to every one and connect the enthusiastic people around the world!
      br
      | With more and more research we can make the world a better place for our next generation.
    a.aboutButton(href='/about') Visit Us To Know More
section.footer
  h4 About Us
  p
    | This website was created to serve all the research enthusiastics around the world.
    br
    | We hope together we can make the world a better place.
  .icons
    i.fa.fa-facebook
    i.fa.fa-twitter
    i.fa.fa-instagram
    i.fa.fa-linkedin



