doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title ResearhNet
  link(rel='styleSheet' href='homeStyle.css')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
section.header
  nav.navP
    a(href='home.html')
      img(src='images/logo.png')
    .nav-links
      ul
        li
          a(href='/') HOME
        li
          a(href='/about') ABOUT
        li
          a(href='/reinfo') RESEARCH INFO
        li
          a(href='') REGISTRATION
          div#dropdown 
            ul
              li 
                a(href='/registration') Student
              li 
                a(href='/regTeacher') Teacher
        li
          a(href='/login') LOG IN
    div
      ul
        li
          a(href='/contact1') CONTACT US
.homeTextAbout
    p
      |Research Net website was a dream of two students of BUET CSE 19 batch. When the pandemic of COVID-19 occured in early 2020, people realised the importance of research in order to fight different problems around the world. 
      |With involvement of brilliant minds around the world vaccine was invented and people fought against corona virus. So, there should be a platform in which researchers can implement there idea in order to reduce many problems around the world.
      |Our goal is to make research available to every one and connect the enthusiastic people around the world. With more and more research we can make the world a better place for our next generation.
.border
section.fFeatures
  .features
    h1 Features Our Website Offers
    .fRow
      .fCol
        h3 Initiate
        p
          | Request to add new research projects
          br
          | on your inovative ideas.
      .fCol
        h3 Explore
        p
          | Explore different categories of research
          br
          | to find your best match.
      .fCol
        h3 Profile
        p
          | Create profile and post your credentials
          br
          | to join research projects
      .fCol
        h3 Q&amp;A
        p
          | Resolve your querise
          br
          | from experts of each catagories.
.border2
section.review
  .r2
    h1 Reviews Of Our Website
    .rRow
      .rCol
        img(src='images/user1.jpg')
        div
          h3 Tasfia Tabassum Noshin
          p
            | Really good website. Helped me a lot to find suitable research for me. Now I am working on 5 research projects. Thanks researchNet!
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star-half-o
      .rCol
        img(src='images/user2.jpg')
        div
          h3 Fahad Ahmed Akash
          p
            | I appretiate the work of the creator of this website. Best of luck. Go a long way.
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star-o
section.footer
  h4 About Us
  p
    | This website was created to serve all the research enthusiastics around the world.
    br
    | We hope together we can make the world a better place.
  .icons
    i.fa.fa-facebook
    i.fa.fa-twitter
    i.fa.fa-instagram
    i.fa.fa-linkedin
