doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title ResearhNet
  link(rel='styleSheet' href='reSTu.css')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
section.header
   nav.navP
    a(href='home.html')
      img(src='images/logo.png')
    .nav-links
      ul
        li
          a(href='/') HOME
        li
          a(href='/about') ABOUT
        li
          a(href='/reinfo') RESEARCH INFO
        li
          a(href='') REGISTRATION
          div#dropdown 
            ul
              li 
                a(href='/registration') Student
              li 
                a(href='/regTeacher') Teacher
        li
          a(href='/login') LOG IN
    div
      ul
        li
          a(href='/contact1') CONTACT US 
section.review
  .r2
    h1 Research Information
    .rRow
      .rCol
        div
          h3 #{result}
          p
          div.info
            ul 
              each item in items 
                div.ele
                  li #[a(href='/showRINFO/'+item[2]) #{item[0]} ]
section.footer
  h4 About Us
  p
    | This website was created to serve all the research enthusiastics around the world.
    br
    | We hope together we can make the world a better place.
  .icons
    i.fa.fa-facebook
    i.fa.fa-twitter
    i.fa.fa-instagram
    i.fa.fa-linkedin


      //- h3 RESEARCH INFORMATION
      //- |#{result}
      //- div.info
      //-   ul 
      //-     each item in items 
      //-       div.ele
      //-         li #[a(href='/showRINFO/'+item[2]) #{item[0]} ]
            
  
   
